@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Nav Bar */
.googleSignInButton {
  position: relative;
  left: 48px;
  margin-top: 30px;
}

.vacLogo {
  height: 20px !important;
  width: 100px !important
}

.color {
  color: black !important;
}

/* destination highlight detail page */
.destinationHighlightDetailImage{
  margin: 20px;
}

/* home page */
.homePageArticles{
  display: flex;
  justify-content: space-between;
}

/* article detail page */
.articleDetailImage{
  margin: 20px;
}
